[submodule "minisys-1a-cpu"]
	path = minisys-1a-cpu
	url = git@github.com:seu-cs-class2/minisys-1a-cpu.git
	branch = master
[submodule "minisys-minicc-ts"]
	path = minisys-minicc-ts
	url = git@github.com:seu-cs-class2/minisys-minicc-ts.git
	branch = master
[submodule "minisys-asm"]
	path = minisys-asm
	url = git@github.com:seu-cs-class2/minisys-asm.git
	branch = master
[submodule "minisys-app"]
	path = minisys-app
	url = git@github.com:seu-cs-class2/minisys-app.git
	branch = master
[submodule "seu-lex-yacc"]
	path = seu-lex-yacc
	url = git@github.com:z0gSh1u/seu-lex-yacc.git
	branch = master
